.container {
	max-width: $website-width;
	padding: 0 3rem;
	margin: auto;
	overflow: hidden;
}

// Buttons
%btn-shared {
	display: inline-block;
	padding: 0.8rem 2rem;
	transition: all 0.5s;
	border: none;
	cursor: pointer;
	font-size: 1.5rem;
	font-family: $font-stack-h;
}

.btn {
	&-main {
		@extend %btn-shared;
		color: #333;
		background-color: $primary-color;
	}

	&-light {
		@extend %btn-shared;
		color: #333;
		background-color: $light-color;
	}

	&-dark {
		@extend %btn-shared;
		color: #f4f4f4;
		background-color: $dark-color;
	}
}

button[class^="btn-"]:hover,
a[class^="btn-"]:hover,
input[class^="btn-"]:hover {
	background-color: $primary-color;
}

// Backgrounds
.bg {
	&-main {
		background: $primary-color;
		color: set-text-color($primary-color);
	}
	&-dark {
		background: $dark-color;
		color: set-text-color($dark-color);
	}
	&-light {
		background: $light-color;
		color: set-text-color($light-color);
	}
	&-medium {
		background: $medium-color;
		color: set-text-color($medium-color);
	}
}

.lead {
	font-size: 2rem;
	margin-bottom: 2rem;
	letter-spacing: 1.5px;
}

.text-center {
	text-align: center;
}

// Padding
.py {
	&-1 {
		padding: 1rem 0;
	}
	&-2 {
		padding: 2rem 0;
	}
	&-3 {
		padding: 3rem 0;
	}
	&-4 {
		padding: 4rem 0;
	}
}

// Margin
.my {
	&-1 {
		margin: 1rem 0;
	}
	&-2 {
		margin: 2rem 0;
	}
	&-3 {
		margin: 3rem 0;
	}
	&-4 {
		margin: 4rem 0;
	}
}

%title-shared {
	display: block;
	text-align: center;
	font-weight: bolder;
	font-family: $font-stack-h;
}

.title {
	&-section {
		@extend %title-shared;
		font-size: 3rem;
		letter-spacing: 0.5rem;
		padding-bottom: 0.5rem;
	}

	&-subsection {
		@extend %title-shared;
		font-size: 1.6rem;
		letter-spacing: 0.5rem;
	}

	&-stats {
		@extend %title-shared;
		font-size: 1.75rem;
		letter-spacing: 0.1rem;
		font-weight: normal;
	}

	&-skills {
		@extend %title-shared;
		font-size: 1.5rem;
		letter-spacing: 0.3rem;
		font-weight: normal;
		text-align: left;
	}
}

.bottom-line {
	height: 2px;
	width: 5rem;
	background: $primary-color;
	display: block;
	margin: 0 auto 1rem auto;
}

.text {
	font-size: 1.5rem;
	padding: 2rem;
	text-align: center;
	letter-spacing: 1px;
}

.social {

	i {
		color: set-text-color($dark-color);
		font-size: 2rem;
		margin-right: 1rem;
		border: 2px #fff solid;
		border-radius: 50%;
		text-align: center;
		padding: 1rem;
		transition: all 0.5s;
		
		&:hover {
			background: $primary-color;
			border-radius: 0%;
		}
	}
}