@import "variables";
@import "reset";
@import "utilities";

#home-header {
  height: 100vh;

  nav {
    position: fixed;
    top: 0;
    left: 0;
    width: 150px;
    height: 100%;
    background-color: $medium-color;
    color: set-text-color($medium-color);

    img {
      display: block;
      width: 100%;
      height: 200px;
      object-fit: cover;
      position: relative;
      opacity: 0.5;
    }

    ul {
      display: flex;
      flex-direction: column;

      li {
        .home-tab {
          display: flex;
          flex-direction: column;
          align-items: center;
          justify-content: center;
          padding: 2rem 0;

          i {
            font-size: 3rem;
          }

          a {
            font-size: 2rem;
            color: set-text-color($medium-color);
          }

          &:hover {
            background-color: $dark-color;
          }

          &.current {
            background-color: $dark-color;

            &:hover,
            &:hover a {
              background-color: $light-color;
              color: set-text-color($light-color);
            }
          }
        }
      }
    }
  }

  .header-content {
    margin-left: 150px;
    height: 100%;
    position: relative;

    &-text {
      position: absolute;
      top: 0;
      left: 0;
      color: set-text-color($dark-color);
      width: 100%;
      height: 100%;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;

      &-wrapper {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 3rem;
        background-color: $dark-color;

        h1 {
          font-size: 4rem;
          line-height: 1.2;
          font-family: $font-stack-h;
        }
      }
    }

    &-bg-imgs {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      grid-template-rows: repeat(2, 1fr);
      grid-gap: 2rem;
      padding: 2rem;
      height: 100%;
      background-color: $dark-color;

      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }
  }
}
