@import "variables";
@import "reset";
@import "utilities";
@import "work_gallery";

#home-header {
	height: 100vh;

	nav {
		position: fixed;
		top: 0;
		left: 0;
		width: 150px;
		height: 100%;
		background-color: $medium-color;
		color: set-text-color($medium-color);
		display: flex;
		flex-direction: column;
		justify-content: space-between;

		.signature-wrapper {
			padding: 1rem 0;

			.signature {
				font-family: $font-stack-lead;
				font-size: 2.5rem;
				padding: 0 0.75rem;
				text-align: center;
				color: $primary-color;
	
				&-top {
					margin-bottom: -1.75rem;
				}
			}
		}

		ul {

			li {
				a {
					display: block;
					width: 100%;
					height: 100%;
					transition: all 0.5s;
					
					&:hover {
						background-color: $dark-color;
						transition: all 0.5s;
						
						&:hover,
						&:hover .home-tab {
							background-color: $light-color;
							color: set-text-color($light-color);
							transition: all 0.5s;
						}
					}

					.home-tab {
						display: flex;
						flex-direction: column;
						align-items: center;
						justify-content: center;
						padding: 2rem 0;
						font-size: 2rem;
						color: set-text-color($medium-color);
						font-family: $font-stack-lead;

						i {
							font-size: 3rem;
						}
					}
				}
			}

			.bottom-line {
				margin: auto;
				width: 8rem;
			}
		}

		.social {
			margin: 1.5rem auto;

			i {
				font-size: 1.5rem;
				margin: 0 0.4rem;
			}
		}
	}

	.header-content {
		margin-left: 150px;
		height: 100%;
		position: relative;

		&-text {
			position: absolute;
			top: 0;
			left: 0;
			color: set-text-color($dark-color);
			width: 100%;
			height: 100%;
			display: flex;
			flex-direction: column;
			justify-content: center;
			align-items: center;
			z-index: 10;

			&-wrapper {
				display: flex;
				flex-direction: column;
				justify-content: center;
				align-items: center;
				padding: 4rem 6rem;

				h1 {
					font-size: 4rem;
					line-height: 1.2;
					font-family: $font-stack-text;
					transform: perspective(10cm) rotateX(-15deg) rotateY(30deg) translateX(15px);
					transition: all 0.5s;

					span {
						font-size: 4rem;
						animation-name: hand-wave;
						animation-duration: 2.5s;
						animation-iteration-count: infinite;
						transform-origin: 70% 70%;
						display: inline-block;
					}
				}

				p {
					transform: perspective(10cm) rotateX(-15deg) rotateY(30deg) translateX(20px);
					transition: all 0.5s;
				}

				a {
					color: set-text-color($dark-color);
					margin-top: 2rem;
					transition: all 0.5s;
				}
			}
		}

		&-bg-img {
			height: 100%;
			background: url(../img/showcase.jpg) no-repeat center center/cover;
			position: relative;
			background-attachment: fixed;

			img {
				display: block;
				width: 100%;
				height: 100%;
				object-fit: cover;
			}

			&::before {
				position: absolute;
				content: "";
				top: 0;
				left: 0;
				height: 100%;
				width: 100%;
				background-color: rgba($color: #000000, $alpha: 0.1);
			}
		}
	}
}
#about {
	
	&-me-a {
		margin-left: 150px;

		.about-info {
			padding-bottom: 2rem;
			height: 275px;
			display: grid;
			grid-template-areas: 'bioimage bio bio';

			.bio-image {
				grid-area: bioimage;
				width: 100%;
				height: 100%;
				object-fit: cover;
				max-height: 275px;
				border-top-left-radius: 1rem;
				border-bottom-left-radius: 1rem;
				box-shadow: -1rem 1rem 1rem $dark-color;
			}
			.bio {
				height: 100%;
				max-height: 275px;
				grid-area: bio;
				border-left: 3px solid $primary-color;
				padding: 0.5rem;
				border-top-right-radius: 1rem;
				border-bottom-right-radius: 1rem;
				box-shadow: 1rem -1rem 1rem $dark-color;

				ul {
					height: 100%;
					display: flex;
					flex-direction: column;
					justify-content: center;

					li {
						display: flex;
						align-items: center;
						margin-bottom: 1rem;
						i {
							font-size: 3rem;
							margin-right: 1rem;
						}
						p {
							font-size: 1.6rem;
							text-align: left;
						}
					}
				}
			}
		}
	}
	&-me-b {
		margin-left: 150px;
		padding-bottom: 0;

		.specials {
			margin-top: 5rem;
			display: grid;
			grid-gap: 1rem;
			grid-template-columns: repeat(3, 1fr);

			i {
				font-size: 5rem;
				color: $primary-color;
				padding-bottom: 1rem;
				transition: all 0.5s;

				&:hover {
					transform: rotate(360deg);
				}
			}
		}

		div.bg-main {

			h2 {
				text-align: center;
				font-size: 3rem;
				letter-spacing: 2px;
				margin-bottom: 0;
				font-family: $font-stack-h;
				font-weight: 300;
				padding: 1rem;
			}
		}
	}
	&-me-c {
		margin-left: 150px;

		.stats {
			display: grid;
			grid-template-columns: repeat(3, 1fr);

			li {
				line-height: 2.5em;
				i {
					font-size: 3.5rem;
				}
				&.stats-number {
					font-size: 3rem;
					font-weight: bold;
					font-family: $font-stack-text;
				}
			}

			div {
				padding: 3rem 0;
				&:nth-child(odd) {
					background: $secondary-color;
				}
				&:nth-child(even) {
					background: $light-color;
					color: set-text-color($light-color);
				}
			}
		}
	}
	&-me-d {
		margin-left: 150px;

		.about-logos {
			display: flex;
			flex-wrap: wrap;
			justify-content: center;

			.logo {
				padding: 1.5rem;
				margin-bottom: 2rem;

				img {
					width: 75px;
					filter: invert(100%);
					transition: all 0.5s;
					
					&:hover {
						filter: invert(0%);
					}
				}
			}
		}
	}
}
#work {
	&-a {
		margin-left: 150px;
	}
}
#contact {

	&-a {
		margin-left: 150px;

		.text-fields {
			display: grid;
			grid-template-areas: 'name email' 'message message';
			grid-gap: 1.5rem;
			margin-bottom: 2rem;
			
			.name-input {
				grid-area: name;
			}
			.subject-input {
				grid-area: subject;
			}
			.message-input {
				grid-area: message;
				height: 100px;
			}
			.text-input {
				padding: 0.5rem 1rem;
				font-size: 1.5rem;
				letter-spacing: 2px;
				resize: none;
			}
		}
		button[type='submit'] {
			width: 50%;
		}
	}
	&-b {
		margin-left: 150px;

		.contact-info {
			display: grid;
			grid-template-columns: repeat(3, 1fr);
			text-align: center;

			i {
				font-size: 3rem;
				margin-bottom: 1rem;
			}

			.bottom-line {
				display: none;
			}
		}
	}
	&-c {
		margin-left: 150px;

		h2 {
			text-align: center;
			font-size: 3rem;
			letter-spacing: 2px;
			font-family: $font-stack-h;
			font-weight: 300;
			padding: 1rem;
		}
	}
}
// Footer
#main-footer {
	margin-left: 150px;
	background: $dark-color;
	color: set-text-color($dark-color);
	height: 7rem;

	.footer-content {
		display: flex;
		justify-content: space-between;
		height: 7rem;
		align-items: center;
	}
}

//Import Media Queries
@import 'media';