* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	font-size: 10px;
	font-family: $font-stack-text;
	line-height: 1.5em;
}

a {
	text-decoration: none;
	color: $dark-color;
}

ul {
	list-style: none;
}

h2,
h3,
h4 {
	text-transform: uppercase;
}

input, textarea {
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
	outline: none;
	border: 2px solid $dark-color;
	transition: all 0.5s;
	box-shadow: 1rem -1rem 1rem $dark-color;
}

input:hover, textarea:hover {
	border: 2px solid $light-color;
	box-shadow: 1rem -1rem 1rem $light-color;
}

input:focus, textarea:focus {
	border: 2px solid $primary-color;
	border-radius: 1rem;
	box-shadow: 1rem -1rem 1rem $primary-color;
}

